
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
    font-family: 'Lato', sans-serif;
}

body { 
    font-family: 'Lato', sans-serif;
    background-color: #c2c2c2;
}

.preachingnav {
    display: flex;
    justify-content: flex-end;
    z-index: 70;
    width: 100%;
    margin: 0;
    padding: 10px 10px;
}

.fas {
    letter-spacing: 5px;
  }

.preachingnav li,
.preachingnav a {
    display: inline-block;
    margin: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 19px;
    color: #000;
    transition: .5s ease;
}

.preachingnav li.active {
    border-bottom: 2px solid darkorange;
}

.menu li a {
    transition: .5s ease;
    margin: 0;
    padding: 0;
}

.menu li.active a,
.menu li:hover a {
    color: darkorange;
}
/* ------------------------- */
/* GRID */
/* ------------------------- */

/* * ============================== */

.wrapper{
    min-height: 90vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.ourservices {
    max-width: 1200px;
    margin: auto 0;
    padding: 0;
  }
  
  .ourservices h4 {
    color: #000;
    text-align: left;
    letter-spacing: 1px;
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.4;
    text-transform: uppercase;
  }
  
  .ourservices p {
    color: #000;
    letter-spacing: 1px;
    font-size: 14px;
    text-justify: auto;
  }

  .card-body{
      padding-top: 0px;
  }


.galeria {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 20px 5px;
    width: 100%;
    max-width: 800px;
    margin: auto;
    justify-items: center;
    align-items: center;
}

.galeria .galeriagrupos {
    display: block;
    position: relative;
    cursor: pointer;
}

.galeria .galeriagrupos button:focus{
    outline: unset;
}

.gallery__img {
    display: block;
    margin: 0 auto;
    height: 100px;
    transition: all .3s ease-in-out;
}

.gallery__img:hover{
    transform: scale(1.2);
    transform-origin: center center;
}

.subtitulo{
    margin-top: 10px;
    font-size: 13px;
    text-align: center;
    color: #000;
    font-weight: 500;
}

.modal-body{
    padding-left: 40px;
}

/* ------------------------- */
/* Mediaqueries */
/* ------------------------- */
@media screen and (max-width: 768px) {
    .menu li a,
    .menu li.active a {
        font-size: 18px;
    }
}

@media screen and (max-width: 576px) {

    .menu li a,
    .menu li.active a {
        font-size: 14px;
    }

    .galeria {
        grid-template-columns: repeat(3, auto);
        width: calc(100% - 20px);
    }
    .gallery__img {
        display: block;
        height: 70px;
    }

    .wrapper{
        min-height: 80vh;
    }
}

@media screen and (max-width: 450px) {
    .menu li a,
    .menu li.active a {
        font-size: 10px;
    }

    .galeria {
        grid-template-columns: repeat(3, auto);
        width: calc(100% - 20px);
    }
    .gallery__img {
        display: block;
        height: 70px;
    }
    .modal-body li{
        font-size: 12px;
    }

    .modal-body{
        padding-left: 30px;
    }
    .ourservices .card-body p{
        display: none;
    }

    .gruposinfo{
        margin: auto 20px;
    }
}
