/* ------------------------- */
/* Menu de Navegacion */
/* ------------------------- */
.nav {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 70;
    width: 100%;
    margin: 0;
    padding: 10px 20px;
}

.fas {
    letter-spacing: 5px;
  }

.nav li,
.nav a {
    display: inline-block;
    margin: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 19px;
    color: #000;
    transition: .5s ease;
}

.nav li.active {
    border-bottom: 2px solid #ff9b07;
}

.menu li a {
    transition: .5s ease;
    margin: 0;
    padding: 0;
}

.menu li.active a,
.menu li:hover a {
    color: #ff9b07;
}

/* ------------------------- */
/* Clases de fullpage.js - Flechas de Slide */
/* ------------------------- */



/* ------------------------- */
/* Menu de Navegacion */
/* ------------------------- */

.imgprogramlife{
    position: relative;
    cursor: pointer;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 700px;
    margin: auto;
}

.programsimg{
    display: block;
    max-width: 100%;
    height: 60vh;
}

/*.lifeandministry article:nth-child(2) {
    background-color: #1bbc9b;
}

.lifeandministry article:nth-child(3) {
    background-color: #4BBFC3;
}

.lifeandministry article:nth-child(4) {
    background-color: #0f171e;
}*/

@media screen and (max-width: 768px) {
    .menu li a,
    .menu li.active a {
        font-size: 15px;
    }
    .nav a {
        margin-bottom: 15px;
    }
    .fp-controlArrow.fp-next,
    .fp-controlArrow.fp-prev {
        top: 95%;
    }

    .fp-controlArrow.fp-prev {
        left: 80%;
        border-width: 20px 20px 20px 0;
        border-color: transparent #fff transparent transparent;
    }

    .fp-controlArrow.fp-next {
        right: 50px;
        border-width: 20px 0 20px 20px;
        border-color: transparent transparent transparent #fff;
    }

}

@media screen and (max-width: 576px) {

    .fp-controlArrow.fp-next,
    .fp-controlArrow.fp-prev {
        top: 95%;
    }

    .fp-controlArrow.fp-prev {
        left: 25%;
        border-width: 20px 20px 20px 0;
        border-color: transparent #fff transparent transparent;
    }

    .fp-controlArrow.fp-next {
        right: 100px;
        border-width: 20px 0 20px 20px;
        border-color: transparent transparent transparent #fff;
    }


    .nav a {
        font-size: 14px;
        margin-bottom: 19px;
    }

    .menu li a,
    .menu li.active a {
        font-size: 14px;
    }

    .horarios .descripcion {
        font-size: 25px;
    }

    .horarios .modelo {
        font-size: 35px;
    }

    .horarios .informacion-reuniones::before {
       height: 280px;   
    }


}