/* ------------------------- */
/* Estilos Generales */
/* ------------------------- */

* {
    box-sizing: border-box;
    margin: 0; padding: 0;
}

body { 
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}


.texto-naranja {
    font-weight: 300;
    color: #ff9b07;
}

.texto-blanco {
    font-weight: 300;
    color: #fff;
}

.texto-negro {
	color: #000;
}

/* ------------------------- */
/* Clases de Fullpage.js */
/* ------------------------- */
#fp-nav ul li a span {
    background: #ff9b07;
}

#fp-nav ul li .fp-tooltip {
    color: #ff9b07;
}

/* ------------------------- */
/* Menu de Navegacion */
/* ------------------------- */
.nav {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 70;
    width: 100%;
    margin: 0;
    padding: 10px 20px;
}

.fas {
    letter-spacing: 5px;
  }

.nav li,
.nav a {
    display: inline-block;
    margin: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 19px;
    color: #000;
    transition: .5s ease;
}

.nav li.active {
    border-bottom: 2px solid #ff9b07;
}

.menu li a {
    transition: .5s ease;
    margin: 0;
    padding: 0;
}

.menu li.active a,
.menu li:hover a {
    color: #ff9b07;
}



/* ------------------------- */
/* Reuniones */
/* ------------------------- */
.horarios article { 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.horarios article:nth-child(1) {
    background-image: url('../img/meetingschedule.jpg');
    
}

.horarios .informacion-reuniones {
    margin: 0 30px;
    text-shadow: -1px 1px 1px rgb(0 0 0 / 90%);
}

.horarios .informacion-reuniones::before {
    content: "";
    height: 320px;
    width: 1px;
    display: inline-block;
    background: #ff9b07;
    position: absolute;
    margin: auto -10px;
}

.horarios .modelo {
    font-size: 45px;
    font-weight: 900;
}

.horarios .descripcion {
    font-size: 30px;
    font-weight: 400;
}




/* ------------------------- */
/* Clases de fullpage.js - Flechas de Slide */
/* ------------------------- */
.fp-controlArrow.fp-next,
.fp-controlArrow.fp-prev {
    top: 95%;
}

.fp-controlArrow.fp-prev {
    left: 80%;
    border-width: 20px 20px 20px 0;
    border-color: transparent #fff transparent transparent;
}

.fp-controlArrow.fp-next {
    right: 50px;
    border-width: 20px 0 20px 20px;
    border-color: transparent transparent transparent #fff;
}

/* ------------------------- */
/* MAP */
/* ------------------------- */


.contactinfo h1{
    font-size: 25px;
    text-align: center;
    color: #fff;
}

.contactinfo a{
    text-decoration: none;
    color: #fff;
    text-align: center;
    font-size: 15px;
    margin: auto;
}

.contactinfo h3{
    font-size: 25px;
    text-align: center;
    color: #fff;
}

.contactinfo p{
    color: #fff;
    font-size: 18px;
    margin: auto 15px;
    text-align: center;
}

.fa-envelope{
    padding-right: 15px;
    color: #fff;
}

.mapwrapper{
    max-width: 800px;
    margin: auto;
  
}

.googlemap {
    width: 100%;
}



/* ------------------------- */
/* Mediaqueries */
/* ------------------------- */
@media screen and (max-width: 768px) {
    .menu li a,
    .menu li.active a {
        font-size: 15px;
    }
    .nav a {
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 576px) {
     .fp-controlArrow.fp-next {
        left: 100px;
    }

    .fp-controlArrow.fp-prev {
        left: 25px;
    }

    .nav a {
        font-size: 14px;
        margin-bottom: 20px;
    }

    .menu li a,
    .menu li.active a {
        font-size: 14px;
    }

    .horarios .descripcion {
        font-size: 25px;
    }

    .horarios .modelo {
        font-size: 35px;
    }

    .horarios .informacion-reuniones::before {
       height: 280px;   
    }

    .contactinfo h3{
        font-size: 20px;
    }

    .googlemap {
        height: 400px;
    }

}



