/* ------------------------- */
/* Estilos Generales */
/* ------------------------- */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 18px;
}

.texto-naranja {
  font-weight: 700;
  color: orange;
}

.texto-blanco {
  font-weight: 700;
  color: #fff;
}

.texto-negro {
  color: #000;
}

/* ------------------------- */
/* Clases de Fullpage.js */
/* ------------------------- */
#fp-nav ul li a span {
  background: #ff9b07;
}

#fp-nav ul li .fp-tooltip {
  color: #ff9b07;
}

/* ------------------------- */
/* Menu de Navegacion */
/* ------------------------- */
.nav {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 70;
  width: 100%;
  margin: 0;
  padding: 10px 20px;
}

.fas {
  letter-spacing: 5px;
}

.nav li,
.nav a {
  display: inline-block;
  margin: 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-size: 19px;
  color: #000;
  transition: 0.5s ease;
}

.nav li.active {
  border-bottom: 2px solid #ff9b07;
}

.menu li a {
  transition: 0.5s ease;
  margin: 0;
  padding: 0;
}

.menu li.active a,
.menu li:hover a {
  color: #ff9b07;
}

/* ------------------------- */
/* Reuniones */
/* ------------------------- */
.horarios article {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/*.ubicacion article {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}*/

.horarios article:nth-child(1) {
  background-image: url("../img/meetingschedule.jpg");
}

.ubicacion article:nth-child(1) {
  background-image: url("../img/bg-splitslider.png");
}

.horarios .informacion-reuniones {
  margin: 0 30px;
  text-shadow: -1px 1px 1px rgb(0 0 0 / 90%);
}

.horarios .informacion-reuniones::before {
  content: "";
  height: 320px;
  width: 1px;
  display: inline-block;
  background: #ff9b07;
  position: absolute;
  margin: auto -10px;
}

.horarios .modelo {
  font-size: 45px;
  font-weight: 900;
}

.horarios .descripcion {
  font-size: 30px;
  font-weight: 400;
}

/* ------------------------- */
/* Clases de fullpage.js - Flechas de Slide */
/* ------------------------- */
.fp-controlArrow.fp-next,
.fp-controlArrow.fp-prev {
  top: 95%;
}

.fp-controlArrow.fp-prev {
  left: 80%;
  border-width: 20px 20px 20px 0;
  border-color: transparent #fff transparent transparent;
}

.fp-controlArrow.fp-next {
  right: 50px;
  border-width: 20px 0 20px 20px;
  border-color: transparent transparent transparent #fff;
}

/* ------------------------- */
/* MAP */
/* ------------------------- */

.contact-details h1 {
  text-align: center;
  color: #fff;
  font-size: 20px;
}

.contact-details li a i {
  color: #fff;
  margin-left: 10px;
}
.contact-details li a {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.1px;
  text-decoration: none;
}

.mapwrapper {
  max-width: 800px;
  margin: 20px auto;
}

.ubicacion .mapwrapper h2,
h6 {
  color: #fff;
  font-size: 20px;
  margin: 10px 15px;
  text-align: center;
}

.ubicacion .mapwrapper a{
  text-decoration: none;
}

.fa-envelope {
  padding-right: 15px;
  color: #fff;
}

.googlemap {
  width: 100%;
}

/* ------------------------- */
/* Mediaqueries */
/* ------------------------- */
@media screen and (max-width: 768px) {
  .menu li a,
  .menu li.active a {
    font-size: 15px;
  }
  .nav a {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 576px) {
  .fp-controlArrow.fp-next {
    left: 100px;
  }

  .fp-controlArrow.fp-prev {
    left: 25px;
  }

  .nav a {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .menu li a,
  .menu li.active a {
    font-size: 20px;
    font-weight: 500;
  }

  .horarios .descripcion {
    font-size: 25px;
  }

  .horarios .modelo {
    font-size: 35px;
  }

  .horarios .informacion-reuniones::before {
    height: 280px;
  }

  .contactinfo h3 {
    font-size: 20px;
  }

  .googlemap {
    height: 300px;
  }

  .contact-details {
    margin-top: 20px;
    font-size: 20px;
  }

  .contact-details li a i {
    color: #f8f9fa;
    margin-left: 10px;
  }
  .contact-details li a {
    font-size: 15px;
  }
  .mapwrapper p {
    font-size: 20px;
  }
}

@media screen and (max-width: 450px) {

  .nav a {
      font-size: 12px;
  }

  .menu li a,
  .menu li.active a {
      font-size: 12px;
  }
}