@font-face {
  font-family: "Endzone Sans Light";
  src: url("//db.onlinewebfonts.com/t/f6f5ccd05cdbdd5e6fe709306142cee0.eot");
  src: url("//db.onlinewebfonts.com/t/f6f5ccd05cdbdd5e6fe709306142cee0.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/f6f5ccd05cdbdd5e6fe709306142cee0.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/f6f5ccd05cdbdd5e6fe709306142cee0.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/f6f5ccd05cdbdd5e6fe709306142cee0.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/f6f5ccd05cdbdd5e6fe709306142cee0.svg#Endzone Sans Light")
      format("svg");
}

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");

@font-face {
  font-family: "RobotoRegular";
  src: url(/fonts/RobotoRegular.ttf);
}
@font-face {
  font-family: "RobotoSlabLight";
  src: url(../fonts/RobotoSlabLight.ttf);
}

html,
body,
.content {
  text-decoration: none;
  background-color: #ffffff;
}

.content {
  font-family: "Endzone Sans Medium", Arial, Helvetica, sans-serif;
  max-width: 1200px;
  height: 100vh;
  min-height: 100%;
  padding: 0px;
  margin: auto;
}

.fila {
  position: relative;
  margin: auto;
  width: 100%;
  height: auto;
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  /*border:1px solid black;*/
  padding: 10px;
}

/* ----------------- NAVBAR ------------------ */

.navbar-text a,
.navbar-text2 a,
.navbar-text3 a {
  text-decoration: none;
  font-size: 11px;
}

.navbar-text .fas {
  color: deepskyblue;
  font-size: 18px;
  letter-spacing: 2px;
}

.navbar-text2 .fas,
.navbar-text3 .fas {
  color: black;
  font-size: 15px;
  letter-spacing: 2px;
}

.fas {
  color: #fff;
}

.navbar {
  font-size: 13px;
  font-weight: initial;
  letter-spacing: 2px;
  min-height: 80px;
  background-color: #f8f7f9;
}

.navbar-brand {
  font-size: 15px;
  font-family: "Endzone Sans Medium", Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

.navbar-nav a {
  margin: 0 15px 0 15px;
}

.navbar a {
  color: #2b2c2c;
}

.navbar .nav-link:hover {
  padding: 20px 10px;
}

.socialmedia {
  margin-top: 10px;
}

/* --------------- FINALIZA NAVBAR ------------ */

/* INICIA MAIN */

/* FINALIZA MAIN */

/* ------------- MASTER ------------- */

.master {
  font-family: "Endzone Sans Medium", Arial, Helvetica, sans-serif;
  background-image: url(../img/sierracafe.png);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  min-height: 450px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.jumbotron {
  background-color: #ffffff;
  text-align: center;
}

.jumbotron h1 {
  color: #2b2c2c;
  font-family: "Endzone Sans Medium", Arial, Helvetica, sans-serif;
}
.jumbotron p {
  color: #2b2c2c;
  font-family: "Endzone Sans Medium", Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.carousel {
  padding: 0px;
}

.carousel-caption {
  min-height: 100%;
  background-color: #2b2c2c;
  opacity: 0.5;
}

.carousel h5 {
  color: white;
  font-size: 20px;
  line-height: 1200%;
  font-family: "Endzone Sans Medium", Arial, Helvetica, sans-serif;
}

.carousel p {
  font-family: "Endzone Sans Medium", Arial, Helvetica, sans-serif;
}

/* ------------ FINALIZA MASTER ---------------- */

@media only screen and (max-width: 800px) {
  .navbar .nav-link:hover {
    clear: both;
    background-color: #f00000;
    padding: 10px 20px;
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  }
}

@media only screen and (max-width: 544px) {
  .navbar .nav-link:hover {
    clear: both;
    background-color: #f00000;
    padding: 10px 20px;
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  }
}

/* --------------- ALERT ---------------- */
.alertgrain {
  background-color: #f2ede1;
}

/* --------------- FINALIZA ALERT ---------------- */

/* --------------- PRODUCTOS ---------------- */

.encabezadosection h2 {
  text-align: center;
  margin: 50px 0 50px 0;
  font-family: "Endzone Sans Medium", Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #2b2c2c;
}

.card-title {
  font-family: "Endzone Sans Medium", Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 20px;
  color: #2b2c2c;
}

/* --------------- FINALIZA PRODUCTOS ---------------- */

/*=============================================
SECCION 4
=============================================*/
#seccion4 {
  padding: 0px;
}

#seccion4 article h1 {
  font-family: "Endzone Sans Medium", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: lighter;
}

#seccion4 article p img {
  float: left;
  margin-right: 25px;
}

#seccion4 article p {
  color: #2b2c2c;
  font-family: "Endzone Sans Medium", Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-align: justify;
}

/* FOOTER */

.footer {
  width: 100%;
  min-height: 514px;
  margin: 0px auto;
  text-align: center;
  background-image: url(../img/SierraGris.jpg);
  padding-top: 40px;
  padding-bottom: 5px;
  color: white;
  font-family: "Endzone Sans Medium";
  font-size: 15px;
}

.footer a {
  font-size: 13px;
  text-decoration: none;
  color: white;
  font-family: "Endzone Sans Medium";
}

/*-----------------------------------------------------------------------------*/

/*=============================================
PANTALLA DE ESCRITORIO GRANDE - LARGE (lg) - revisamos en portatil o pc
=============================================*/

@media (min-width: 1200px) {
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }

  .col-lg-10 {
    width: 83.33333333%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-8 {
    width: 66.66666667%;
  }

  .col-lg-7 {
    width: 58.33333333%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-5 {
    width: 41.66666667%;
  }

  .col-lg-4 {
    width: 33.33333333%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-2 {
    width: 16.66666667%;
  }

  .col-lg-1 {
    width: 8.33333333%;
  }

  .col-lg-0 {
    display: none;
  }

  #seccion4 article p img {
    width: 50%;
  }
}

/*=============================================
PANTALLA DE ESCRITORIO MEDIANO - MEDIUM (md) - revisamos en tablet horizontal 1024px
=============================================*/

@media (max-width: 1199px) and (min-width: 992px) {
  .col-md-12 {
    width: 100%;
  }

  .col-md-11 {
    width: 91.66666667%;
  }

  .col-md-10 {
    width: 83.33333333%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-8 {
    width: 66.66666667%;
  }

  .col-md-7 {
    width: 58.33333333%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-5 {
    width: 41.66666667%;
  }

  .col-md-4 {
    width: 33.33333333%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-2 {
    width: 16.66666667%;
  }

  .col-md-1 {
    width: 8.33333333%;
  }

  .col-md-0 {
    display: none;
  }

  #seccion4 article p img {
    width: 60%;
  }
}

/*=============================================
PANTALLA DE TABLET - SMALL (sm) - revisamos en tablet vertical 768px
=============================================*/

@media (max-width: 991px) and (min-width: 768px) {
  .col-sm-12 {
    width: 100%;
  }

  .col-sm-11 {
    width: 91.66666667%;
  }

  .col-sm-10 {
    width: 83.33333333%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-8 {
    width: 66.66666667%;
  }

  .col-sm-7 {
    width: 58.33333333%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-5 {
    width: 41.66666667%;
  }

  .col-sm-4 {
    width: 33.33333333%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-2 {
    width: 16.66666667%;
  }

  .col-sm-1 {
    width: 8.33333333%;
  }

  .col-sm-0 {
    display: none;
  }

  #seccion4 article p img {
    width: 100%;
    margin-bottom: 20px;
  }
}

/*=============================================
PANTALLA DE PHONES - EXTRA SMALL (xs) - revisamos en movil horizontal 480px o vertical 320px
=============================================*/

@media (max-width: 767px) {
  .col-xs-12 {
    width: 100%;
  }

  .col-xs-11 {
    width: 91.66666667%;
  }

  .col-xs-10 {
    width: 83.33333333%;
  }

  .col-xs-9 {
    width: 75%;
  }

  .col-xs-8 {
    width: 66.66666667%;
  }

  .col-xs-7 {
    width: 58.33333333%;
  }

  .col-xs-6 {
    width: 50%;
  }

  .col-xs-5 {
    width: 41.66666667%;
  }

  .col-xs-4 {
    width: 33.33333333%;
  }

  .col-xs-3 {
    width: 25%;
  }

  .col-xs-2 {
    width: 16.66666667%;
  }

  .col-xs-1 {
    width: 8.33333333%;
  }

  .col-xs-0 {
    display: none;
  }

  #seccion4 article p img {
    width: 100%;
    margin-bottom: 20px;
  }
  .meetings {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .firstmeeting {
    width: 150px;
    display: flex;
    justify-content: center;
  }

  .secondmeeting {
    width: 150px;
    display: flex;
    justify-content: space-between;
  }
  .day {
    width: 150px;
    height: 150px;
  }
  .day h5 {
    font-size: 13px;
  }
  .infoday h3,
  h4 {
    width: 160px;
  }
  .main h2 {
    font-size: 12px;
  }
}
