/* ------------------------- */
/* Estilos Generales */
/* ------------------------- */

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
}



/* ------------------------- */
/* Menu de Navegacion */
/* ------------------------- */
.nav {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 70;
  width: 100%;
  margin: 0;
  padding: 10px 20px;
}

.fas {
  letter-spacing: 5px;
}

.nav li,
.nav a {
  display: inline-block;
  margin: 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  color: #000;
  transition: .5s ease;
}

.nav li.active {
  border-bottom: 2px solid #ff9b07;
}

.menu li a {
  transition: .5s ease;
  margin: 0;
  padding: 0;
}

.menu li.active a,
.menu li:hover a {
  color: #ff9b07;
}

/* ------------------------- */
/* Clases de Fullpage.js */
/* ------------------------- */
#fp-nav ul li a span {
  background: orange;
}

#fp-nav ul li .fp-tooltip {
  color: orange;
}

/* ------------------------- */
/* Menu de Navegacion */
/* ------------------------- */

/* ------------------------- */
/* Animaciones */
/* ------------------------- */
@keyframes bajar-subir {
  0% {
    transform: translateY(20px);
  }
  25% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(20px);
  }
}

.circuito article{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.circuito article:nth-child(1) {
  background-color: #7ab380;
}

.circuito article:nth-child(2) {
  background-color: #efdb74;
}

.circuito article:nth-child(3) {
  background-color: #52AD4D;
}

/* ------------------------- */
/* Clases de fullpage.js - Flechas de Slide */
/* ------------------------- */
.fp-controlArrow.fp-next,
.fp-controlArrow.fp-prev {
  top: 95%;
}

.fp-controlArrow.fp-prev {
  left: 80%;
  border-width: 20px 20px 20px 0;
  border-color: transparent #000 transparent transparent;
}

.fp-controlArrow.fp-next {
  right: 50px;
  border-width: 20px 0 20px 20px;
  border-color: transparent transparent transparent #000;
}

/* ------------------------- */
/* Visita de Circuito Schedule */
/* ------------------------- */

.visitinformation {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  color: #fff;
  margin-right: 30px;
  line-height: 1.1;
  font-weight: 500;
  text-shadow: -1px 1px 1px rgb(0 0 0 / 90%);
}

.visitinformation h1 {
  font-size: 40px;
  text-align: right;
}

.visitinformation p {
  text-align: right;
  font-size: 30px;
}

.visitinformation h2 {
  text-align: right;
  font-size: 38px;
  color: yellow;
}

/* ------------------------- */
/* Visita de Circuito Schedule */
/* ------------------------- */

/* ------------------------- */
/* Visita de Circuito Food arregements */
/* ------------------------- */

.wrapper {
  min-height: 90vh;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.visitfood {
  max-width: 1200px;
  margin: auto 0;
  padding: 0;
}

.visitfood h4 {
  color: #000;
  text-align: left;
  letter-spacing: 1px;
  font-size: 30px;
  font-weight: 300;
  line-height: 1.4;
  text-transform: uppercase;
}

.visitfood p {
  color: #000;
  letter-spacing: 1px;
  font-size: 14px;
  text-justify: auto;
}

.card-body {
  padding-top: 0px;
}

.visitgallery {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 20px 5px;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  justify-items: center;
  align-items: center;
}

.visitgallery .fooddays {
  display: block;
  position: relative;
  cursor: pointer;
}

.visitgallery .fooddays button:focus {
  outline: unset;
}

.gallery__img {
  display: block;
  margin: 0 auto;
  height: 100px;
  transition: all 0.3s ease-in-out;
}

.gallery__img:hover {
  transform: scale(1.2);
  transform-origin: center center;
}

.day p {
  margin-top: 10px;
  font-size: 20px;
  text-align: center;
  color: #3c6d6e;
  font-weight: 700;
  text-shadow: -1px 1px 1px rgb(0 0 0 / 90%);
}

.modal-body {
  padding-left: 40px;
}

.modal-backdrop {
  position: relative;
}

.stylelist{
  list-style: none;
  padding-left: 30px;
}

.stylelistone{
  list-style: none;
}

/* ------------------------- */
/* Visita de Circuito Food arregements */
/* ------------------------- */

/* ------------------------- */
/* service arregements */
/* ------------------------- */

 /* EMPIEZA ALERT */

 .visitstudies h1{
   text-align: center;
   font-size: 30px;
   color: #fff;
   font-weight: bold;
   margin-bottom: 30px;
 }

 .biblestudies {
  border: 1px outset #ED7432;
  max-width: 600px;
  border-left-width: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 10px #0004, 0 2px 20px #0008;
  padding: 5px 5px;
  margin: auto;
  border-radius: 15px;
  backdrop-filter: blur(10px);
  background-image: linear-gradient(45deg, #F8A455, #F8A455);
  transition-property: opacity, transform;
  transition: 0.5s ease-in;
}

.biblestudies .icon img {
  width: 80px;
  height: 100px;
}

.biblestudies>.icon {
  min-width: 40px;
  min-height: 40px;
  background-color: #b9b69a;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
}

.biblestudies>.icon>* {
  line-height: 40px;
}

.biblestudies:nth-child(3){
  margin-top: 20px;
}

.biblestudies>.studiestitle {
  width: 100%;
  padding: 0;
  color: #002D41;

}

.biblestudies>.studiestitle p{
  margin: 5px 10px;
  font-size: 20px;
}

.studiestitle .visittablestyle th, td{
  text-align: left;
}

.visittablestyle {
  margin: 20px 0 20px 30px;
  font-size: 18px;
}


.studiestitle .visittablestyle th:nth-child(1){
  width: 70px;
}

.studiestitle .visittablestyle th:nth-child(2){
  width: 200px;
}


.studiestitle .visittablestyle th:nth-child(3){
  width: 200px;
}

 /* TERMINA ALERT */

/* ------------------------- */
/* service arregements */
/* ------------------------- */

/* ------------------------- */
/* Mediaqueries */
/* ------------------------- */


@media screen and (max-width: 768px) {
  .menu li a,
  .menu li.active a {
    font-size: 18px;
  }
  
}

@media screen and (max-width: 576px) {

   .nav a {
        font-size: 20px;
        margin-bottom: 21px;
    }

    .menu li a,
    .menu li.active a {
        font-size: 20px;
    }

  .fp-controlArrow.fp-next {
    left: 100px;
  }

  .fp-controlArrow.fp-prev {
    left: 25px;
  }

  .visitinformation h1 {
    font-size: 40px;
  }
  .visitinformation p {
    font-size: 19px;
  }
  .visitinformation h2 {
    font-size: 30px;
  }

  .visitgallery {
      grid-template-columns: repeat(3, auto);
      width: calc(100% - 20px);
  }
  .gallery__img {
      display: block;
      height: 70px;
  }

  .wrapper{
      min-height: 80vh;
  }


  .modal-content{
    width: 30%;
    margin-top: 40px;
  }

  .day p {
    font-size: 15px;
  }

  .visitinfo{
    display: none;
  }

  .visitfood h4{
    font-size: 35px;
    margin: 0 0 30px 15px;
  }

  /* visit studies revisites */

  .biblestudies {
    max-width: 470px;
  }

  .visitstudies h1{
    font-size: 20px;
  }

  .visittablestyle {
    font-size: 15px;
  }

  .studiestitle .visittablestyle th:nth-child(1){
    width: 70px;
  }
  .studiestitle .visittablestyle th:nth-child(2){
    width: 150px;
  }
  .studiestitle .visittablestyle th:nth-child(3){
    width: 150px;
  }

  /* visit studies revisites */

  }

@media screen and (max-width: 450px) {

  .visitgallery {
    grid-template-columns: repeat(3, auto);
    width: calc(100% - 20px);
  }
  .gallery__img {
      display: block;
      height: 70px;
  }

  .visitinformation h1 {
    font-size: 18px;
  }
  .visitinformation p {
    font-size: 18px;
  }
  .visitinformation h2 {
    font-size: 20px;
  }

    /* visit studies revisites */

    .biblestudies {
      max-width: 350px;
    }
  
    .visitstudies h1{
      font-size: 17px;
    }
  
    .visittablestyle {
      margin: 20px 0 20px 15px;
      font-size: 13px;
    }
  
    .studiestitle .visittablestyle th:nth-child(1){
      width: 40px;
    }
    .studiestitle .visittablestyle th:nth-child(2){
      width: 125px;
    }
    .studiestitle .visittablestyle th:nth-child(3){
      width: 125px;
    }

    .biblestudies>.studiestitle p{
      font-size: 18px;
    }

    .biblestudies .icon img {
      width: 50px;
      height: 60px;
    }

    /* visit studies revisites */

}
